# Defaults
  version=0x2
  id=0x0
  flags=0x3
  custom0=0x1
  custom1=0x0
  custom3=0x0
  custom5=0x0
  custom6=0x0
  custom7=0x0
  custom8=0x0
  custom9=0x0
  custom10=0x0

mahua.dtb
  rev=0xFFFF0000
  custom2=0xFFFF0000
  custom4=0x02B50000

mahua-crd-overlay.dtbo
  rev=0x00010001
  custom2=0xFFFFFFFF
  custom4=0x02B50028

mahua-crd-cologne-overlay.dtbo
  rev=0x00020002
  custom2=0xFFFFFFFF
  custom4=0x02B50028

mahua-qcb-overlay.dtbo
  rev=0x00010001
  custom2=0xFFFFFFFF
  custom4=0x02B5002B

mahua-qcb-cologne-overlay.dtbo
  rev=0x00020002
  custom2=0xFFFFFFFF
  custom4=0x02B5002B

mahua-idp-overlay.dtbo
  rev=0x00010001
  custom2=0xFFFFFFFF
  custom4=0x02B50022

mahua-idp-cologne-overlay.dtbo
  rev=0x00020002
  custom2=0xFFFFFFFF
  custom4=0x02B50022

mahua-rcm-overlay.dtbo
  rev=0x00010001
  custom2=0xFFFFFFFF
  custom4=0x02B50015

mahua-rcm-cologne-overlay.dtbo
  rev=0x00020002
  custom2=0xFFFFFFFF
  custom4=0x02B50015
